* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cousine: 'Cousine', sans-serif;
}

body {
    background-color: #ddd;
}

/* >>>> APP WRAPPER */

.app-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    padding-left: 4vh;
    box-shadow: 0 0 2px #444;
    background-image: url('../img/keyboard.jpg');
    background-size: cover;
    background-position: center;
    font-family: var(--cousine);
}

/* >>> RULES */

.rules-btn {
    margin: 0 30px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.rules-btn:hover {
    transform: scale(1.1);
}

.rules-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 470px;
    height: 580px;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 25px 25px 25px 50px;
    border: 2px solid black;
    box-shadow: 0 0 3px black;
    z-index: 1;
    -webkit-animation: show 2s ease both;
    animation: show 2s ease both;
}

.rules-wrap h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
}

.rules li {
    margin-bottom: 10px;
    font-size: 15px;
}

.rules p {
    margin-top: 20px;
    font-size: 15px;
    text-align: right;
}

.rules-wrap span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1.5%;
    right: 3%;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}

.rules-wrap.hide {
    display: none;
}

/* >>> HEADER */

header {
    display: flex;
    flex-basis: 15%;
    align-items: center;
}

header h1 {
    font-size: 65px;
}

/* >>> MAIN CONTENT WRAP */

.content-wrap {
    display: flex;
    flex-basis: 85%;
}

/* >> MAIN */

main {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding-right: 3vw;
}

main h2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* > MAIN CHALLENGED TEXT */

.text {
    display: none;
    flex-direction: column;
    justify-content: center;
    flex-basis: 46%;
    -webkit-animation: show 2s ease both;
    animation: show 2s ease both;
}

.text p {
    font-size: 18px;
    line-height: 140%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* > MAIN INPUT  */

.insert-text-wrap {
    display: none;
    flex-direction: column;
    flex-basis: 46%;
    -webkit-animation: show 2s ease both;
    animation: show 2s ease both;
}

.active {
    display: flex;
}

.insert-text-wrap h2 {
    transition: 1s;
}

.insert-text-wrap h2 i {
    -webkit-animation: fade 2s 1s linear infinite;
    animation: fade 2s 1s linear infinite;
}

.insert-text-wrap i {
    margin-left: 5px;
}

.insert-text-wrap .insert-text {
    flex-basis: 90%;
    border: 1px solid #00000022;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    font-family: var(--cousine);
    font-size: 18px;
    line-height: 140%;
    outline: none;
    resize: none;
}

.insert-text-wrap .insert-text:focus {
    border: 1px solid #00000088;
    background-color: #ffffff33;
}

/* >> ASIDE */

aside {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

aside ul {
    list-style: none;
}

/* > MODE */

.mode {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    justify-content: center;
    margin-left: 100px;
}

.mode h2 {
    margin-bottom: 10px;
    font-size: 32px;
    -webkit-animation: fade-mode 5s linear infinite;
    animation: fade-mode 5s linear infinite;
}

.mode h2.animate-stop {
    -webkit-animation: none;
    animation: none;
}

.mode ul {
    display: flex;
    width: 50%;
}

ul.mode-list li {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 8px 25px;
    padding: 0 10px;
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
}

ul.mode-list li:hover {
    text-decoration: underline;
}

/* > INTERFACE */

.interface-wrap {
    display: flex;
    align-items: center;
    flex-basis: 46%;
}

/* > TIMER */

.timer {
    display: flex;
    align-self: flex-end;
    flex-basis: 50%;
    font-size: 70px;
}

.timer.fade {
    opacity: 0;
}

.timer-big {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: -1;
}

.timer-big p {
    font-size: 120px;
}

.timer-big p.record {
    margin-top: 50px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-animation: fade-record .7s linear infinite;
    animation: fade-record .7s linear infinite;
}

.timer-big .repeat {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 50px;
    font-size: 30px;
    cursor: pointer;
    transition: .7s;
}


.timer-big .repeat i {
    font-size: 25px;
    margin-left: 10px;
    transition: .7s;
}

.timer-big .repeat:hover {
    transform: translateX(10%);
}

.timer-big .repeat:hover i {
    transform: rotate(360deg);
}

.timer-big.show {
    opacity: 1;
    z-index: 0;
}

/* SCORE */

.score {
    flex-basis: 50%;
    margin-left: 50px;
}

.score h2 {
    margin-bottom: 5px;
}

ul.score-list li {
    margin: 5px 0;
    font-size: 18px;
}

ul.score-list li.reset {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .7s;
}

ul.score-list li.reset i {
    margin-left: 7px;
    font-size: 16px;
    transition: .7s;
}

ul.score-list li.reset:hover i {
    transform: rotate(360deg);
}

.score-list span {
    font-weight: bold;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
}

footer a {
    color: black;
    text-decoration: none;
}

.error {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
}

/* ANIMATION */

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


@keyframes show {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-record {
    0% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-record {
    0% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-mode {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-mode {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* >>>>> MEDIA QUERIES <<<<< */

@media (max-width: 1599px) {

    h2 {
        font-size: 22px;
    }

    /* >>>> RULES  */

    .rules-btn {
        font-size: 16px;
    }

    .rules-wrap {
        width: 420px;
        height: 520px;
        top: 55%;
    }

    .rules-wrap h2 {
        font-size: 22px;
    }

    .rules-wrap ol {
        margin-top: 10px;
    }

    .rules li {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .rules p {
        font-size: 14px;
    }

    /* >>> HEADER */

    header h1 {
        font-size: 60px;
    }

    /* >> MAIN  */

    main {
        flex-basis: 50%;
    }

    /* > MAIN CHALLENGED TEXT */

    .text p {
        font-size: 16px;
    }

    /* > MAIN INPUT  */

    .insert-text-wrap .insert-text {
        font-size: 16px;
    }

    /* >> ASIDE */

    aside {
        flex-basis: 50%;
    }

    /* > MODE */

    .mode {
        margin-left: 0;
    }

    .mode h2 {
        margin-bottom: 10px;
        font-size: 28px;
        -webkit-animation: fade-mode 5s linear infinite;
        animation: fade-mode 5s linear infinite;
    }

    ul.mode-list li {
        font-size: 22px;
    }

    /* > TIMER */

    .timer {
        font-size: 55px;
    }

    .timer.fade {
        opacity: 0;
    }

    .timer-big {
        font-size: 50px;
    }

    .timer-big p {
        font-size: 90px;
    }

    .timer-big p.record {
        margin-top: 40px;
        font-size: 40px;
    }

    .timer-big .repeat {
        margin-top: 40px;
        font-size: 26px;
    }


    .timer-big .repeat i {
        font-size: 20px;
    }

    /* SCORE */

    .score {
        margin-left: 0;
    }


    ul.score-list li {
        font-size: 16px;
    }

    ul.score-list li.reset i {
        font-size: 14px;
    }

    .score-list span {
        font-weight: bold;
    }

    /* FOOTER */

    footer {
        font-size: 15px;
    }

    .error {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        text-align: center;
    }
}

/* >>>>> MEDIA QUERIES <<<<< */

@media (max-width: 1259px) {

    .content-wrap,
    .rules-wrap,
    header,
    footer {
        display: none;
    }

    .error {
        display: block;
    }
}

@media (max-height: 699px) {

    .content-wrap,
    .rules-wrap,
    header,
    footer {
        display: none;
    }

    .error {
        display: block;
    }
}